body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: url("./img/background.jpeg");
    padding: 0px;
    margin: 0;
}

/* Global */
.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

header ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #008080;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: black 10px solid;
}

h1 {
    padding: 0 0 0 20px;
}

header a {
    color: #ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 13px;
}

header li {
    float: left;
    display: inline;
    padding: 0px 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-color: #2f4f4f;
    color:#ffffff;
    text-align: center;
}

#showcase h1 {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

img {
    width: 40%; 
}

/* Gallery */
.gallery{
    margin: 10px 50px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 170px;
}

.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.gallery h3{
    font-size: 30px;
}
/* Contact Form */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background: #ffffff;
    padding: 25px;
    border-radius: 5px;
}

.wrapper h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #000000;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid;
    padding: 10px;
}

textarea{
    height: 80px;
    resize: none;
}

.wrapper .btn  input[type="submit"]{
    border: 0;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #2f4f4f;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
    
/* Footer */
footer {
    color: #ffffff;
    background-color: #000000; 
    text-align: center;
    margin: auto;
    width: 70%;
    overflow: hidden;
    text-decoration: none;
}

footer li {
    display: inline;
    padding: 0px 20px 0 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

/* First Media Query */
@media(min-width: 300px) and (max-width: 500px){
    header{
        padding-top: 20px;
        min-height: 60px;
        border-bottom: black 3px solid; 
        font-size: 10px;
        text-align: center;
    }

    .mainMenu{
        display: none;
    }

    .mainMenu.toggleClass{
        display: block;
    }

    .hamIcon{
        margin-top: -12px;
        right: 20%;
        position: absolute;
        cursor: pointer;
    }

    #showcase h1 {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    #showcase p {
        font-size: 10px;
        text-align: center;
    }
    
    img {
        width: 100%; 
    }
    
    .wrapper{
        max-width: 200px;
        width: 50%;
        padding: 15px;
        border-radius: 5px;
    }
    
    .wrapper h2{
        letter-spacing: 3px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .wrapper .input_field{
        margin-bottom: 10px;
    }
    
    .wrapper .input_field input[type="text"],
    .wrapper textarea{
        width: 70%;
        border: 1px solid;
        padding: 0px;
    }
    
    textarea{
        height: 50px;
    }
    
    .wrapper .btn  input[type="submit"]{
        border: 0;
        margin-top: 0px;
        padding: 0px;
        width: 70%;
        letter-spacing: 3px;
        border-radius: 15px;
        font-size: 12px;
    }
    
    .wrapper #error_message{
        margin-bottom: 10px;
        font-size: 8px;
        transition: all 0.5s ease;
    }

    .gallery{
        margin: 10px 30px;
    }
    
    .gallery img{
        transition: 1s;
        padding: 1px;
        width: 100px;
    }
    
    .gallery img:hover{
        transform: scale(1.1);
    }
    
    .gallery h3{
        font-size: 15px;
    }

    footer{
        font-size: 8px;
        white-space: nowrap;
    }
}

/* Second Media Query */
@media(min-width: 501px) and (max-width:1024px){
    header{
        padding-top: 30px;
        min-height: 80px;
        border-bottom: black 5px solid; 
        font-size: 15px;
    }

    .mainMenu{
        display: none;
    }

    .mainMenu.toggleClass{
        display: block;
    }

    .hamIcon{
        margin-top: -20px;
        right: 20%;
        position: absolute; 
        cursor: pointer;
    }

    #showcase h1 {
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    #showcase p {
        font-size: 20px;
        text-align: center;
    }
    
    img {
        width: 100%; 
    }
   
    .wrapper{
        max-width: 300px;
        width: 60%;
        padding: 20px;
        border-radius: 5px;
    }
    
    .wrapper h2{
        letter-spacing: 3px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .wrapper .input_field{
        margin-bottom: 15px;
    }
    
    .wrapper .input_field input[type="text"],
    .wrapper textarea{
        width: 60%;
        border: 1px solid;
        padding: 5px;
        font-size: 20px;
    }
    
    textarea{
        height: 50px;
    }
    
    .wrapper .btn  input[type="submit"]{
        border: 0;
        margin-top: 0px;
        padding: 0px;
        width: 70%;
        letter-spacing: 3px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    .wrapper #error_message{
        margin-bottom: 20px;
        font-size: 15px;
        transition: all 0.5s ease;
    }

    .gallery{
        margin: 10px 30px;
    }
    
    .gallery img{
        transition: 1s;
        padding: 2px;
        width: 150px;
    }
    
    .gallery img:hover{
        transform: scale(1.1);
    }
    
    .gallery h3{
        font-size: 20px;
    }

    footer {
        font-size: 20px;
        white-space: nowrap;
    }
}

/* Third Media Query */
@media(min-width: 1025px){
    .hamIcon{
        display: none;
    }
}
